head
  meta(name='viewport', content='width=device-width, initial-scale=1')
  title= title
  link(rel='stylesheet', href='/css/bootstrap.css')
  link(rel='stylesheet', href='/css/index.css')

   //- set focus for the user
        script
          $(document).ready(function() {
             $("#inputusername").focus();
          });


  body
    block content
    .container
    form.form-signin(action="/login", method="post")
      .h2.form-signin-heading Please sign in
      if (message != '')
              div.alert.alert-error
                p !{message}
      input.input-block-level(type="text", name="username", placeholder="Email address")
      input.input-block-level(type="password", name="password", placeholder="Password")
      //label.checkbox.
      //<input type="checkbox" value="remember-me" /> Remember me
      button.btn.btn-large.btn-primary(type="submit") Sign in


